<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/search/search.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Search Component</title>
</head>
<body>
    <div class="search-container">
        <div class="search-input">
            <input type="input" onfocus="this.value=''" placeholder="Type to search suburb, postcode, lga ...">
            <div class="autocom-box">
            </div>
            <div class="search-icon"><i class="material-icons">search</i></div>
        </div>
    </div>
    <script src="/components/search/search.js"></script>
</body>
</html>