<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/popup-lga/popup-lga.css">
    <title>PopUp LGA</title>
</head>
<body>
    <div class="popup-container">
        <div class="rank-lga-name">
            <div class="icon"><p>#1</p></div>
            <div class="statistic"><p>Central Coast LGA</p></div>
        </div>
        <div class="general-stats">
            <div class="icon">
                <img src="/components/popup-lga/resources/clubs-icon64.png" alt="Number of clubs">
            </div>
            <div class="statistic"><p>36 clubs or venues</p></div>
            <div class="icon">
                <img src="/components/popup-lga/resources/pokies-icon64.png" alt="Number of Pokie machines">
            </div>
            <div class="statistic"><p>3,631 pokie machines</p></div>
            <div class="icon">
                <img src="/components/popup-lga/resources/money-fire-icon64.png" alt="Net profit">
            </div>
            <div class="statistic"><p>$111,618,831 net profit (6 mth)</p></div>
            <div class="icon">
                <img src="/components/popup-lga/resources/people-icon64.png" alt="Number of Adults">
            </div>
            <div class="statistic"><p>255,215 adults (18+ years)</p></div>
        </div>
        <div class="featured-stat">
            <div class="icon">
                <img src="/components/popup-lga/resources/avo-toast-icon64.png" alt="Smashed Avo Index">
            </div>
            <div class="statistic"><p class="small-text">Sign me up for:</p><p>24 smashed avos (per adult)</p></div>
        </div>
    </div>
</body>
</html>