.popup-container {

    background-color: aliceblue;
    height: 350px;
    max-width: 350px;
    padding: 5px;
    border-radius: 15px;
    overflow-y: auto;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 5px;
}

.rank-lga-name{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 3px solid lightgray;
}

.general-stats {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px dashed gray;
    padding-top: 10px;
}

.featured-stat {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.icon {
    text-align: center;
}

.statistic {
    font-size: 18px;
}

.general-stats p{
    font-size: small;
}

.general-stats img{
    height: 32px;
}

.rank-lga-name p{
    font-size: 24px;

}

.featured-stat p{
    margin: 10px 0px;
}
.small-text {
    font-size: 12px;
    margin: 10px 0px;
}